services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    volumes:
      - ./secrets:/app/secrets
      - ./data:/app/data
      - ./logs:/app/logs
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - cobalt-api
      - redis
      - pgsync

  cobalt-api:
    image: ghcr.io/imputnet/cobalt:10
    restart: unless-stopped
    container_name: cobalt-api
    init: true
    ports:
      - 3002:9000/tcp
    environment:
      API_URL: "${COBALT_API_BASE_URL:-http://cobalt-api:9000}"
      API_NAME: "opencouncil"
      DURATION_LIMIT: 36000
      COOKIE_PATH: "/secrets/cookies.json"
    labels:
        - com.centurylinklabs.watchtower.scope=cobalt
    volumes:
      - ./secrets:/secrets

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    command:
      - redis-server
      - --save
      - "60"
      - "1"
      - --loglevel
      - warning
    volumes:
      - ./data/redis:/data

  pgsync:
    image: toluaina1/pgsync:latest
    container_name: pgsync
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - SCHEMA_URL=${SCHEMA_URL}
      - PG_URL=${PG_URL}
      - ELASTICSEARCH_URL=${ELASTICSEARCH_URL}
      - ELASTICSEARCH_API_KEY=${ELASTICSEARCH_API_KEY}
      - ELASTICSEARCH_API_KEY_ID=${ELASTICSEARCH_API_KEY_ID}
      - REDIS_URL=redis://redis:6379/0
      - REDIS_CHECKPOINT=true
      - ELASTICSEARCH=true
      - OPENSEARCH=false
    command: -d
    depends_on:
      - redis

x-buildkit:
  enabled: true
